---
layout: default
permalink: /
body_class: home
personal_info:
  name: Vitalii Tsilnyk
  #photo: https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg
  roles:
    - a software architect
    - a web developer
    - a game developer
    - a team lead
    - a contributor
    - an entrepreneur
    - a consultant
    - a mentor
  bio: >-
    I live in a beautiful city of Moscow in Russia. <br/>
    It’s nice to meet you!
---


{% include welcome.html %}

{%- if site.posts.size > 0 -%}
  {% assign posts = site.posts %}
  {% capture section_footer %}
    <div class="page-content text-center">
      <a href="{{ "/blog/" | relative_url }}" class="btn btn-outline-secondary my-2">More Posts</a>
    </div>
  {% endcapture %}
  {% include blog/posts.html posts=posts section_footer=section_footer %}

{%- endif -%}
