
<div class="pagination container">
    {% if paginator.next_page %}
        <a class="btn btn-outline-secondary mr-auto" href="{{ paginator.next_page_path }}">
            <i class="fas fa-chevron-left"></i>
            Older posts
        </a>
    {% endif %}
    
    {% if paginator.previous_page %}
        <a class="btn btn-outline-secondary ml-auto" href="{{ paginator.previous_page_path }}">
            Newer posts
            <i class="fas fa-chevron-right"></i>
        </a>
    {% endif %}
</div>
