

@import "framework";


// Sticky navbar content padding
body {

	background: url("../img/background.jpg");
}

main {
	padding-top: 56px;
	padding-bottom: 150px;
}

header > nav {
	border-bottom: 1px solid #eee;
}

.container {
	max-width: 850px;
}

@import "highlight/monokai.css";
.highlight {
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #c5c5c5;
}

.post {
	background: white;
	padding: 40px 20px 20px 20px;
	border: 1px solid #EEE;
	margin-top: 100px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.post-header {
	text-align: center;
	padding-bottom: 50px;
}

.post-date {
	color: #a1a1a7;
	font-size: 0.77778rem;
	letter-spacing: 2px;
	line-height: 1.5;
	text-transform: uppercase;
}

.post-tags {
	color: #a1a1a7;
	font-size: 0.85rem;
}

.post-link,
.post-link:hover {
	color: inherit;
	text-decoration: none;
}


.rss-link {
	float: right;
	padding-top: 10px;
	color: #d6d6d6;
}

//.home {
//	header > nav {
//		background: none !important;
//		border: none;
//	}
//	
//	main {
//		padding-top: 0;
//	}
//}

.home .rotate {
	text-align: left;
	width: 140px;
	display: inline-block;
	overflow: visible;
    white-space: nowrap;
	position: relative;
	vertical-align: top;
	
	.rotate-value {
		position: absolute;
		opacity: 0;
	}
	.rotate-value.current {
		opacity: 1;
		animation: rotate-in .5s;
	}
	.rotate-value.previous {
		animation: rotate-out .5s;
	}
}

.home .welcome .jumbotron {
	//border-bottom: 1px solid #eee;
	background: transparent;
	
	h1, .lead {
		text-shadow:
				0 1px 2px rgba(255, 255, 255, 1),
				0 1px 2px rgba(255, 255, 255, 1);
	}
	.lead {
		font-size: 1.5rem;
	}
}


main, body > footer {
	animation: fadein 1.0s;

	body.loading & {
		opacity: 0;
		visibility: hidden;
		transition: all .4s ease-in-out;
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes rotate-in {
    from { opacity: 0; transform: translateY(-30px) }
    to   { opacity: 1; transform: translateY(0px) }
}
@keyframes rotate-out {
    from { opacity: 1; transform: translateY(0px) }
    to   { opacity: 0; transform: translateY(20px) }
}






// https://getbootstrap.com/docs/4.3/examples/floating-labels/
.form-label-group {
	position: relative;
	margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > textarea,
.form-label-group > label {
	padding: .75rem;
}
.form-label-group > input,
.form-label-group > label {
	height: 3.125rem;
}

.form-label-group > label {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0; /* Override default `<label>` margin */
	line-height: 1.5;
	color: #495057;
	pointer-events: none;
	cursor: text; /* Match the input under the label */
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder,
.form-label-group textarea::-webkit-input-placeholder {
	color: transparent;
}

.form-label-group input:-ms-input-placeholder,
.form-label-group textarea:-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-ms-input-placeholder,
.form-label-group textarea::-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-moz-placeholder,
.form-label-group textarea::-moz-placeholder {
	color: transparent;
}

.form-label-group input::placeholder,
.form-label-group textarea::placeholder {
	color: transparent;
}

.form-label-group input:not(:placeholder-shown),
.form-label-group textarea:not(:placeholder-shown) {
	padding-top: 1.25rem;
	padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label,
.form-label-group textarea:not(:placeholder-shown) ~ label {
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: 12px;
	color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
	.form-label-group > label {
		display: none;
	}
	.form-label-group input::-ms-input-placeholder,
	.form-label-group textarea::-ms-input-placeholder {
		color: #777;
	}
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.form-label-group > label {
		display: none;
	}
	.form-label-group input:-ms-input-placeholder,
	.form-label-group textarea:-ms-input-placeholder {
		color: #777;
	}
}


