---
layout: default
---
<div class="container">
  <article class="page-section">
  
      {% if page.heading != false %}
      {% if page.title or page.heading %}
          <header class="page-heading">
            <h1 class="page-title">
                {%- if page.heading -%}
                    {{ page.heading | escape }}
                {%- else -%}
                    {{ page.title | escape }}
                {%- endif -%}
            </h1>
          </header>
      {% endif %}
      {% endif %}
    
      <div class="page-content">
        {{ content }}
      </div>
  
  </article>
</div>
