---
layout: default
body_class: post
---
<div class="container">
  <article class="post page-section" itemscope itemtype="http://schema.org/BlogPosting">
  
    <header class="page-heading">
      <h1 class="page-title" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
        <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}</p>
    </header>
  
    <div class="page-content" itemprop="articleBody">
      
      {% if page.image %}
        <div class="post-image">
          <img class="img-fluid" src="{{ page.image | relative_url }}" alt=""/>
        </div>
      {% endif %}
      
      {{ content }}
    </div>
  </article>

  {%- if site.disqus.shortname -%}
    <div class="page-section">
      {%- include disqus_comments.html -%}
    </div>
  {%- endif -%}
</div>
